html{
    font-size: 12.5px;
}

.map {
    width: 100%;
    height: 400px;
    margin: 5px;
    display: inline-block;
    
}

a.skiplink {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skiplink:focus {
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

button{
    margin: 7px 2px;
}

img{
    height: 50px;
    width: 50px;
}

#belsisUstBar{
    width: 100%;
    background-color: #10777e;
    margin: 3px;
    height: 4rem;
    display: -webkit-inline-box;
}

#logo{
    height: 4rem;
    width: 4rem;
    text-align: left;
    
}

#baslik{
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

#textBaslik{
    color: white;
    font-size: 2rem;
}

label{
    font-size: 1.25rem;
}

/* Popup stilini burada tanımlayabilirsiniz */
.popup {
    width: 80%;
    height: 50%;
    position: fixed;                                    /* Popup'ın ekranda sabit durmasını sağlıyor */
    top: 50%;                                           /* Popup'ın dikey olarak ortada durmasını sağlıyor */
    left: 50%;                                          /* Popup'ın yatay olarak ortada durmasını sağlıyor */
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
}